.m-buy {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: pxTorem(32px);

  &__link {
    position: relative;
    @include content-center;
    transition: 0.5s;
    padding: 0 pxTorem(10px);
    height: 100%;
    &:hover {
      transform: scale(1.1);
      color: inherit;
    }
  }

  &__number {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999;
    @include content-center;
    color: white;
    font-size: $lsp-b;
    font-family: $Roboto;
    &::after {
      content: '';
      @include container-center;
      z-index: -1;
      border-radius: 50%;
      background-color: $success;
      @include size(18px);
    }
  }
}
